.chart {
    width: 75%;
    max-width: 45vw;
    margin: 40px auto -5vh;
    background-color: #ffffff;
    border: 1px solid #dfe0eb;
    padding: 20px;
  }
  
  .chart h2 {
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: left;
    color: #000000de;
    margin-bottom: 55px;
  }