.secondary {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  
    padding: 16px 24px;
    gap: 24px;
  
    width: 252px;
    height: 59px;
  
    color: #ffffff;
    background: #4c5df1;
    box-shadow: #4c5df1;
    border-radius: 20px;
    border:none;
  }
  
  .danger,
  .green {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px 16px;
    text-align: center;
  
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  
    color: #fbfcff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    border:none;
  }
  
  .danger {
    width: 103px;
    background: #d82d56;
  }
  
  .green {
    width: 80px;
    background: #8db51b;
  }

.unit-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .unit-list h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #374557;
  }
  
  .unit-list table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  }
  
  .unit-list thead {
    background-color: #fafafa;
    color: #25282b;
    height: 55px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  
  .unit-list tbody {
    background-color: #ffffff;
    color: #25282b;
    height: 55px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #53575d;
  }
  
  .unit-list th,
  .unit-list td {
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  
  
  .unit-list th:first-child,
  .unit-list td:first-child {
    padding-left: 18px;
  }
  
  .unit-list thead th:nth-child(1),
  .unit-list tbody td:nth-child(1),
  .unit-list thead th:nth-child(4),
  .unit-list tbody td:nth-child(4),
  .unit-list thead th:nth-child(5),
  .unit-list tbody td:nth-child(5),
  .unit-list tbody td:nth-child(6),
  .unit-list tbody td:nth-child(7) {
    width: 10%;
  }
  
  
  .unit-list thead th:nth-child(2),
  .unit-list tbody td:nth-child(2) {
    width: 15%;
  }
  
  .unit-list thead th:nth-child(3),
  .unit-list tbody td:nth-child(3) {
    width: 25%;
  }
  
  .unit-list #new-unit{
    align-self: flex-end;
  }